In [1]:
# recommended to use virtual env to install pip package
# see link official docs for installation reference: https://github.com/googleapis/python-analytics-data#installation
%pip install google-analytics-data
%pip install sqlalchemy
%pip install pyobdc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: google-analytics-data in /home/seanpe/.local/lib/python3.10/site-packages (0.16.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (4.22.0)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (2.11.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (1.22.2)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.58.0)
Requirement already satisfied: google-auth<3.0dev,>=2.14.1 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (2.16.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/lib/python3/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (2.25.1)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.51.3)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.51.3)
Requirement already satisfied: six>=1.9.0 in /usr/lib/python3/dist-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.16.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (4.9)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /home/seanpe/.local/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (0.4.8)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in /home/seanpe/.local/lib/python3.10/site-packages (2.0.5.post1)
Requirement already satisfied: greenlet!=0.4.17 in /home/seanpe/.local/lib/python3.10/site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/seanpe/.local/lib/python3.10/site-packages (from sqlalchemy) (4.5.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement pyobdc (from versions: none)
ERROR: No matching distribution found for pyobdc
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

import os  
os.makedirs('tests/', exist_ok=True)

In [3]:
from google.analytics.data_v1beta import BetaAnalyticsDataClient
from google.analytics.data_v1beta.types import (
    DateRange,
    Dimension,
    Metric,
    RunReportRequest,
    OrderBy,
)

In [4]:
# modified from official google docs for GA4: 
# https://developers.google.com/analytics/devguides/reporting/data/v1/quickstart-client-libraries

def pull_from_ga_into_df(dimensions, metrics, order_by):
    """Runs a simple report on a Google Analytics 4 property."""
    # TODO(developer): Uncomment this variable and replace with your
    #  Google Analytics 4 property ID before running the sample.
    # property_id = "YOUR-GA4-PROPERTY-ID"

    # Using a default constructor instructs the client to use the credentials
    # specified in GOOGLE_APPLICATION_CREDENTIALS environment variable.
    client = BetaAnalyticsDataClient()
    property_id="353368209"

    request = RunReportRequest(
        property=f"properties/{property_id}",
        dimensions=[Dimension(name=d) for d in dimensions],
        metrics=[Metric(name=m) for m in metrics],
        date_ranges=[DateRange(start_date="30daysAgo", end_date="today")],
        order_bys=[OrderBy(desc=True, dimension=OrderBy.DimensionOrderBy(dimension_name=order_by))]
    )
    response = client.run_report(request)
    
    ## process into pd dataframe
    
    # get headers
    data_dict = {}
    type_dict = {}
    for d in response.dimension_headers:
        data_dict[d.name] = []

    for m in response.metric_headers:
        data_dict[m.name] = []
        type_dict[m.name] = m.type_

    # insert into dictionary
    for r in response.rows:
        vals = [v.value for v in [*r.dimension_values, *r.metric_values]]
        for i, key in enumerate(data_dict):
            to_add = vals[i]
            if key in type_dict:
                to_add = int(vals[i]) if type_dict[key] == 1 else float(vals[i])
            data_dict[key].append(to_add)

    df = pd.DataFrame(data=data_dict)
    
    return df

In [5]:
def cast_types(df, type_map):
    pass

In [6]:
query_map = {}

In [7]:
query_map["AudienceOverview"] = {
    "metrics": [
        "averageSessionDuration",
        "bounceRate",
        "newUsers",
        "sessionsPerUser",
        "screenPageViewsPerSession",
        "screenPageViews",
        "sessions",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "date",
        "hostName"
    ],
    "order_by": "date"
}

In [8]:
audience_overview_df = pull_from_ga_into_df(
    query_map["AudienceOverview"]["dimensions"], 
    query_map["AudienceOverview"]["metrics"],
    query_map["AudienceOverview"]["order_by"],
)
audience_overview_df.to_csv("tests/AudienceOverview.csv", index=False)
audience_overview_df

,date,hostName,averageSessionDuration,bounceRate,newUsers,sessionsPerUser,screenPageViewsPerSession,screenPageViews,sessions,activeUsers
0,20230310,moandbear.com.ph,3.524283,1.000000,3,1.500000,1.166667,7,6,4
1,20230309,moandbear.com.ph,46.534410,0.692308,10,1.083333,1.461538,19,13,12
2,20230308,moandbear.com.ph,90.478372,0.307692,10,1.083333,2.384615,31,13,12
3,20230307,moandbear.com.ph,356.839097,0.333333,6,1.000000,2.333333,14,6,6
4,20230306,connectsys.shop,507.054196,0.500000,6,1.000000,2.166667,13,6,6
5,20230306,moandbear.com.ph,13.906948,0.666667,9,1.500000,1.000000,15,15,10
6,20230305,connectsys.shop,24.650139,0.500000,1,2.000000,1.000000,2,2,1
7,20230305,moandbear.com.ph,11.933743,0.600000,3,1.666667,1.200000,6,5,3
8,20230304,moandbear.com.ph,421.267917,0.333333,2,1.500000,2.333333,7,3,2
9,20230304,connectsys.shop,17.537123,0.333333,0,3.000000,1.666667,5,3,1
10,20230303,moandbear.com.ph,9.947690,0.700000,10,1.000000,1.200000,12,10,10
11,20230302,moandbear.com.ph,253.142547,0.400000,3,1.250000,1.400000,7,5,4
12,20230301,uat.moandbear.com.ph,914.129431,0.250000,2,2.000000,16.125000,129,8,4
13,20230301,moandbear.com.ph,63.472459,0.250000,6,1.142857,1.625000,13,8,7
14,20230228,uat.moandbear.com.ph,891.152455,0.181818,5,2.000000,11.500000,253,22,11
15,20230228,uat.moandbear.com,721.339423,0.000000,1,1.000000,1.000000,1,1,1
16,20230228,uat.connectsys.shop,466.391097,0.500000,0,4.000000,4.250000,17,4,1
17,20230228,moandbear.com.ph,71.902349,0.125000,6,1.142857,1.875000,15,8,7
18,20230227,uat.moandbear.com.ph,355.502990,0.000000,0,1.000000,6.000000,6,1,1
19,20230227,moandbear.com.ph,153.025525,0.444444,11,1.285714,1.666667,30,18,14
20,20230226,moandbear.com.ph,8.575453,0.750000,7,1.142857,1.375000,11,8,7
21,20230226,connectsys.shop,0.135656,1.000000,20,1.000000,0.950000,19,20,20
22,20230225,uat.moandbear.com.ph,125.542677,0.250000,4,1.000000,3.750000,15,4,4
23,20230225,moandbear.com.ph,28.857376,0.800000,3,1.250000,1.200000,6,5,4
24,20230224,connectsys.shop,999.568439,0.333333,2,1.500000,6.333333,19,3,2
25,20230224,moandbear.com.ph,29.483504,0.590909,16,1.375000,1.090909,24,22,16
26,20230224,uat.connectsys.shop,21.707400,0.000000,1,1.000000,1.000000,1,1,1
27,20230224,uat.moandbear.com.ph,1.521527,1.000000,1,3.000000,1.000000,3,3,1
28,20230223,moandbear.com.ph,21.730706,0.600000,10,1.500000,1.333333,20,15,10
29,20230223,connectsys.shop,1.559449,1.000000,2,1.000000,1.000000,2,2,2
30,20230222,uat.moandbear.com.ph,172.744891,0.000000,1,1.000000,2.000000,2,1,1
31,20230222,moandbear.com.ph,26.343376,0.722222,14,1.200000,1.944444,35,18,15
32,20230222,uat.connectsys.shop,7.982139,1.000000,1,1.000000,1.000000,1,1,1
33,20230222,connectsys.shop,7.050653,0.666667,2,1.000000,0.666667,2,3,3
34,20230221,uat.moandbear.com.ph,1210.965848,1.000000,0,1.000000,3.000000,3,1,1
35,20230221,moandbear.com.ph,395.309538,0.250000,7,1.142857,3.750000,30,8,7
36,20230221,uat.connectsys.shop,5.643172,1.000000,1,1.000000,1.000000,1,1,1

In [9]:
query_map["AudienceByHour"] = {
    "metrics": [
        "averageSessionDuration",
        "bounceRate",
        "newUsers",
        "sessionsPerUser",
        "screenPageViewsPerSession",
        "screenPageViews",
        "sessions",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "date",
        "dateHour",
        "hostName",
    ],
    "order_by": "dateHour",
}

In [10]:
audience_by_hour_df = pull_from_ga_into_df(
    query_map["AudienceByHour"]["dimensions"], 
    query_map["AudienceByHour"]["metrics"],
    query_map["AudienceByHour"]["order_by"],
)
audience_by_hour_df.to_csv("tests/AudienceByHour.csv", index=False)
audience_by_hour_df

,date,dateHour,hostName,averageSessionDuration,bounceRate,newUsers,sessionsPerUser,screenPageViewsPerSession,screenPageViews,sessions,activeUsers
0,20230310,2023031012,moandbear.com.ph,0.000000,1.000000,1,1.0,1.0,2,2,2
1,20230310,2023031011,moandbear.com.ph,0.000000,1.000000,0,1.0,1.0,1,1,1
2,20230310,2023031006,moandbear.com.ph,0.000000,1.000000,1,0.0,1.0,1,1,0
3,20230310,2023031005,moandbear.com.ph,21.145696,1.000000,1,1.0,2.0,2,1,1
4,20230310,2023031001,moandbear.com.ph,0.000000,1.000000,0,1.0,1.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
165,20230222,2023022200,uat.moandbear.com.ph,172.744891,0.000000,1,1.0,2.0,2,1,1
166,20230221,2023022122,uat.moandbear.com.ph,1210.965848,1.000000,0,1.0,3.0,3,1,1
167,20230221,2023022122,moandbear.com.ph,13.927580,0.500000,1,1.0,1.5,3,2,2
168,20230221,2023022122,uat.connectsys.shop,5.643172,1.000000,1,1.0,1.0,1,1,1
169,20230221,2023022121,moandbear.com.ph,522.436857,0.166667,6,1.0,4.5,27,6,6

In [11]:
query_map["AudienceByCategory"] = {
    "metrics": [
        "newUsers",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "date",
        "country",
        "deviceCategory",
        "language",
#         "pagePath", ## this makes the request incompatible
    ],
    "order_by": "date",
}

In [12]:
audience_by_category_df = pull_from_ga_into_df(
    query_map["AudienceByCategory"]["dimensions"], 
    query_map["AudienceByCategory"]["metrics"],
    query_map["AudienceByCategory"]["order_by"],
)
audience_by_category_df.to_csv("tests/AudienceByCategory.csv", index=False)
audience_by_category_df

        date         country deviceCategory language  newUsers  activeUsers
0   20230310     Philippines         mobile  English         2            3
1   20230310   United States        desktop  English         1            0
2   20230310     Philippines         tablet  English         0            1
3   20230309     Philippines         mobile  English         5            6
4   20230309     Philippines        desktop  English         2            2
..       ...             ...            ...      ...       ...          ...
85  20230221     Philippines        desktop  English         4            4
86  20230221     Philippines         mobile  English         2            2
87  20230221       Singapore        desktop  English         1            1
88  20230221       Singapore         mobile  English         1            2
89  20230221  United Kingdom         mobile  English         0            1

[90 rows x 6 columns]

In [13]:
query_map["GaOrders"] = {
    "metrics": [
        "purchaseRevenue",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "month",
        "date",
        "transactionId",
        "campaignName",
    ],
    "order_by": "campaignName",
}

In [14]:
ga_orders_df = pull_from_ga_into_df(
    query_map["GaOrders"]["dimensions"], 
    query_map["GaOrders"]["metrics"],
    query_map["GaOrders"]["order_by"],
)
ga_orders_df.to_csv("tests/GaOrders.csv", index=False)
ga_orders_df

,month,date,transactionId,campaignName,purchaseRevenue,activeUsers
0,03,20230308,384,Mo and Bear Instagram,501.556972,1
1,02,20230228,382,(referral),0.000000,1
2,02,20230228,427,(referral),0.000000,1
3,02,20230224,380,(direct),0.000000,1
4,02,20230225,422,(direct),0.000000,1
5,02,20230228,424,(direct),0.000000,1
6,02,20230228,426,(direct),0.000000,1
7,02,20230228,428,(direct),0.000000,1
8,02,20230228,429,(direct),0.000000,1
9,02,20230228,430,(direct),0.000000,1
10,03,20230301,431,(direct),0.000000,1

In [15]:
query_map["PageTitleViews"] = {
    "metrics": [
        "screenPageViews", # not sure either
    ],
    "dimensions": [
        "date",
        "hostName",
        "landingPagePlusQueryString",
        "pagePath", # could alternatively be pageLocation
        "pageTitle",
        "percentScrolled", # assuming this is page depth
    ],
    "order_by": "date",
}

In [16]:
page_title_views_df = pull_from_ga_into_df(
    query_map["PageTitleViews"]["dimensions"], 
    query_map["PageTitleViews"]["metrics"],
    query_map["PageTitleViews"]["order_by"],
)
page_title_views_df.to_csv("tests/PageTitleViews.csv", index=False)
page_title_views_df

,date,hostName,landingPagePlusQueryString,pagePath,pageTitle,percentScrolled,screenPageViews
0,20230310,moandbear.com.ph,/,/,Shopping Cart Software & Ecommerce Software So...,,3
1,20230310,moandbear.com.ph,/orders/,/orders/,Orders,,2
2,20230310,moandbear.com.ph,/?fbclid=PAAabCu8MfAQKGlAOY-1GGeC-F_izq94OVBYU...,/,Shopping Cart Software & Ecommerce Software So...,,1
3,20230310,moandbear.com.ph,/pet-care/,/pet-care/,Pet Care,,1
4,20230309,moandbear.com.ph,/,/,Shopping Cart Software & Ecommerce Software So...,,8
...,...,...,...,...,...,...,...
330,20230221,moandbear.com.ph,/pet-care/pet-food/?fbclid=IwAR3qyITVwt2bp3p6k...,/pet-care/pet-food/,Pet Care :: Pet Food - Mo&Bear Categories,,1
331,20230221,uat.connectsys.shop,/vendor,/vendor,Page Not Found,,1
332,20230221,uat.moandbear.com.ph,/brands/happy-life/,/,Shopping Cart Software & Ecommerce Software So...,,1
333,20230221,uat.moandbear.com.ph,/brands/happy-life/,/brands/happy-life/,Happy Life,,1
334,20230221,uat.moandbear.com.ph,/brands/happy-life/,/checkout/,Checkout,,1

In [17]:
query_map["Acquisition"] = {
    "metrics": [
        "averageSessionDuration",
        "bounceRate",
        "totalRevenue",
        "screenPageViewsPerSession",
        "sessions",
        "newUsers",
        "totalUsers",
    ],
    "dimensions": [
        "date",
#         "campaignName",
        "month",
        "transactionId",
#         "sourceMedium",
        "adSourceName", # alternatively firstUserGoogleAdsAdNetworkType, 
        # googleAdsAdNetworkType, sessionGoogleAdsAdNetworkType
        "hostName",
    ],
    "order_by": "date",
}

In [18]:
acquisition_df = pull_from_ga_into_df(
    query_map["Acquisition"]["dimensions"], 
    query_map["Acquisition"]["metrics"],
    query_map["Acquisition"]["order_by"],
)
acquisition_df.to_csv("tests/Acquisition.csv", index=False)
acquisition_df

,date,month,transactionId,adSourceName,hostName,averageSessionDuration,bounceRate,totalRevenue,screenPageViewsPerSession,sessions,newUsers,totalUsers
0,20230310,03,,,moandbear.com.ph,3.524283,1.000000,0.000000,1.166667,6,3,5
1,20230309,03,(not set),,moandbear.com.ph,46.534410,0.692308,0.000000,1.461538,13,10,12
2,20230308,03,(not set),,moandbear.com.ph,90.476962,0.307692,0.000000,2.384615,13,10,13
3,20230308,03,384,,moandbear.com.ph,0.018327,1.000000,501.557137,0.000000,1,0,1
4,20230307,03,(not set),,moandbear.com.ph,356.839097,0.333333,0.000000,2.333333,6,6,6
5,20230306,03,(not set),,connectsys.shop,507.054196,0.500000,0.000000,2.166667,6,6,6
6,20230306,03,(not set),,moandbear.com.ph,13.906948,0.666667,0.000000,1.000000,15,9,12
7,20230305,03,(not set),,connectsys.shop,24.650139,0.500000,0.000000,1.000000,2,1,2
8,20230305,03,(not set),,moandbear.com.ph,11.933743,0.600000,0.000000,1.200000,5,3,4
9,20230304,03,(not set),,moandbear.com.ph,421.267917,0.333333,0.000000,2.333333,3,2,2
10,20230304,03,(not set),,connectsys.shop,17.537123,0.333333,0.000000,1.666667,3,0,1
11,20230303,03,(not set),,moandbear.com.ph,9.947690,0.700000,0.000000,1.200000,10,10,10
12,20230302,03,(not set),,moandbear.com.ph,253.142547,0.400000,0.000000,1.400000,5,3,4
13,20230301,03,(not set),,uat.moandbear.com.ph,914.129348,0.250000,0.000000,16.125000,8,2,4
14,20230301,03,(not set),,moandbear.com.ph,63.472459,0.250000,0.000000,1.625000,8,6,8
15,20230301,03,431,,uat.moandbear.com.ph,0.000660,1.000000,0.000000,0.000000,1,0,1
16,20230228,02,(not set),,uat.moandbear.com.ph,891.152256,0.181818,0.000000,11.500000,22,5,11
17,20230228,02,(not set),,uat.moandbear.com,721.339423,0.000000,0.000000,1.000000,1,1,1
18,20230228,02,(not set),,uat.connectsys.shop,466.391096,0.500000,0.000000,4.250000,4,0,1
19,20230228,02,(not set),,moandbear.com.ph,71.902257,0.125000,0.000000,1.875000,8,6,7
20,20230228,02,429,,uat.moandbear.com.ph,0.001142,1.000000,0.000000,0.000000,1,0,1
21,20230228,02,427,,uat.moandbear.com.ph,0.000951,1.000000,0.000000,0.000000,1,0,1
22,20230228,02,428,,uat.moandbear.com.ph,0.000846,1.000000,0.000000,0.000000,1,0,1
23,20230228,02,430,,uat.moandbear.com.ph,0.000783,1.000000,0.000000,0.000000,1,0,1
24,20230228,02,382,,moandbear.com.ph,0.000739,1.000000,0.000000,0.000000,1,0,1
25,20230228,02,426,,uat.moandbear.com.ph,0.000657,1.000000,0.000000,0.000000,1,0,1
26,20230228,02,424,,uat.connectsys.shop,0.000006,1.000000,0.000000,0.000000,1,0,1
27,20230227,02,(not set),,uat.moandbear.com.ph,355.502990,0.000000,0.000000,6.000000,1,0,1
28,20230227,02,(not set),,moandbear.com.ph,153.025525,0.444444,0.000000,1.666667,18,11,15
29,20230226,02,(not set),,moandbear.com.ph,8.575453,0.750000,0.000000,1.375000,8,7,7
30,20230226,02,(not set),,connectsys.shop,0.135656,1.000000,0.000000,0.950000,20,20,20
31,20230225,02,422,,uat.moandbear.com.ph,212.069769,1.000000,0.000000,0.000000,1,0,1
32,20230225,02,(not set),,uat.moandbear.com.ph,72.525235,0.250000,0.000000,3.750000,4,4,4
33,20230225,02,(not set),,moandbear.com.ph,28.857376,0.800000,0.000000,1.200000,5,3,4
34,20230224,02,(not set),,connectsys.shop,999.568329,0.333333,0.000000,6.333333,3,2,2
35,20230224,02,(not set),,moandbear.com.ph,29.483504,0.590909,0.000000,1.090909,22,16,18
36,20230224,02,(not set),,uat.connectsys.shop,21.707400,0.000000,0.000000,1.000000,1,1,1
37,20230224,02,(not set),,uat.moandbear.com.ph,1.521527,1.000000,0.000000,1.000000,3,1,1
38,20230224,02,380,,connectsys.shop,0.000328,1.000000,0.000000,0.000000,1,0,1
39,20230223,02,(not set),,moandbear.com.ph,21.730706,0.600000,0.000000,1.333333,15,10,12
40,20230223,02,(not set),,connectsys.shop,1.559449,1.000000,0.000000,1.000000,2,2,2
41,20230222,02,(not set),,uat.moandbear.com.ph,172.744891,0.000000,0.000000,2.000000,1,1,1
42,20230222,02,(not set),,moandbear.com.ph,26.343376,0.722222,0.000000,1.944444,18,14,17
43,20230222,02,(not set),,uat.connectsys.shop,7.982139,1.000000,0.000000,1.000000,1,1,1
44,20230222,02,(not set),,connectsys.shop,7.050653,0.666667,0.000000,0.666667,3,2,3
45,20230221,02,(not set),,uat.moandbear.com.ph,1210.965848,1.000000,0.000000,3.000000,1,0,1
46,20230221,02,(not set),,moandbear.com.ph,395.309538,0.250000,0.000000,3.750000,8,7,7
47,20230221,02,(not set),,uat.connectsys.shop,5.643172,1.000000,0.000000,1.000000,1,1,1

In [19]:
# in memory test db
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [20]:
# # actual db

# from sqlalchemy import create_engine
# from sqlalchemy.engine import URL
# connection_url = URL.create(
#     "mssql+pyodbc",
#     username="ucdaadmin",
#     password="f@xgYW4A){Fm4>{@",
#     host="ucda.database.windows.net",
#     port=1433,
#     database="ucda",
#     query={
#         "driver": "ODBC Driver 18 for SQL Server",
#         "TrustServerCertificate": "yes",
#         "authentication": "ActiveDirectoryIntegrated",
#     },
# )

# engine = create_engine(connection_url)

In [21]:
audience_overview_df.to_sql('ga_audience_overview', con=engine, index=False)
audience_by_hour_df.to_sql('ga_audience_by_hour', con=engine, index=False)
audience_by_category_df.to_sql('ga_audience_by_category', con=engine, index=False)
page_title_views_df.to_sql('ga_page_title_views', con=engine, index=False)
ga_orders_df.to_sql('ga_orders', con=engine, index=False)
acquisition_df.to_sql('ga_acquisition', con=engine, index=False)

48

In [22]:
engine.execute("SELECT * FROM users").fetchall()

AttributeError: 'Engine' object has no attribute 'execute'