In [101]:
# recommended to use virtual env to install pip package
# see link official docs for installation reference: https://github.com/googleapis/python-analytics-data#installation
!pip install google-analytics-data

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: google-analytics-data in /home/seanpe/.local/lib/python3.10/site-packages (0.16.1)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (2.11.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (4.22.0)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-analytics-data) (1.22.2)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/lib/python3/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (2.25.1)
Requirement already satisfied: google-auth<3.0dev,>=2.14.1 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (2.16.2)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.58.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.51.3)
Requirement already satisfied: grpcio-status<2.0dev,>=1.33.2 in /home/seanpe/.local/lib/python3.10/site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.51.3)
Requirement already satisfied: six>=1.9.0 in /usr/lib/python3/dist-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/seanpe/.local/lib/python3.10/site-packages (from google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (5.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /home/seanpe/.local/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.14.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0->google-analytics-data) (0.4.8)

In [102]:
import datetime
import pandas as pd
import numpy as np

In [103]:
from google.analytics.data_v1beta import BetaAnalyticsDataClient
from google.analytics.data_v1beta.types import (
    DateRange,
    Dimension,
    Metric,
    RunReportRequest,
    OrderBy,
)

In [104]:
# modified from official google docs for GA4: 
# https://developers.google.com/analytics/devguides/reporting/data/v1/quickstart-client-libraries

def pull_from_ga_into_df(dimensions, metrics, order_by):
    """Runs a simple report on a Google Analytics 4 property."""
    # TODO(developer): Uncomment this variable and replace with your
    #  Google Analytics 4 property ID before running the sample.
    # property_id = "YOUR-GA4-PROPERTY-ID"

    # Using a default constructor instructs the client to use the credentials
    # specified in GOOGLE_APPLICATION_CREDENTIALS environment variable.
    client = BetaAnalyticsDataClient()
    property_id="353368209"

    request = RunReportRequest(
        property=f"properties/{property_id}",
        dimensions=[Dimension(name=d) for d in dimensions],
        metrics=[Metric(name=m) for m in metrics],
        date_ranges=[DateRange(start_date="7daysAgo", end_date="today")],
        order_bys=[OrderBy(desc=True, dimension=OrderBy.DimensionOrderBy(dimension_name=order_by))]
    )
    response = client.run_report(request)
    
    ## process into pd dataframe
    
    # get headers
    data_dict = {}
    for d in response.dimension_headers:
        data_dict[d.name] = []

    for m in response.metric_headers:
        data_dict[m.name] = []

    # insert into dictionary
    for r in response.rows:
        vals = [v.value for v in [*r.dimension_values, *r.metric_values]]
        for i, key in enumerate(data_dict):
            data_dict[key].append(vals[i])

    df = pd.DataFrame(data=data_dict)
    
    return df

In [105]:
query_map = {}

## Audience Overview

In [106]:
query_map["AudienceOverview"] = {
    "metrics": [
        "averageSessionDuration",
        "bounceRate",
        "newUsers",
        "sessionsPerUser",
        "screenPageViewsPerUser",
        "screenPageViewsPerSession",
        "screenPageViews",
        "sessions",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "date",
    ],
    "order_by": "date"
}

In [107]:
audience_overview_df = pull_from_ga_into_df(
    query_map["AudienceOverview"]["dimensions"], 
    query_map["AudienceOverview"]["metrics"],
    query_map["AudienceOverview"]["order_by"],
)
audience_overview_df

,date,averageSessionDuration,bounceRate,newUsers,sessionsPerUser,screenPageViewsPerUser,screenPageViewsPerSession,screenPageViews,sessions,activeUsers
0,20230308,434.53946809999997,1,6,1.25,3.375,2.7,27,10,8
1,20230307,356.8390975,0.33333333333333331,6,1,2.3333333333333335,2.3333333333333335,14,6,6
2,20230306,154.80616195238093,0.61904761904761907,15,1.3125,1.75,1.3333333333333333,28,21,16
3,20230305,15.566998857142858,0.5714285714285714,4,1.75,2,1.1428571428571428,8,7,4
4,20230304,219.40251999999998,0.33333333333333331,2,2,4,2,12,6,3
5,20230303,9.9476896,0.7,10,1,1.2,1.2,12,10,10
6,20230302,253.1425468,0.4,3,1.25,1.75,1.4,7,5,4

## AudienceByHour

In [108]:
query_map["AudienceByHour"] = {
    "metrics": [
        "averageSessionDuration",
        "bounceRate",
        "newUsers",
        "sessionsPerUser",
        "screenPageViewsPerUser",
        "screenPageViewsPerSession",
        "screenPageViews",
        "sessions",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "dateHour",
    ],
    "order_by": "dateHour",
}

In [109]:
audience_by_hour_df = pull_from_ga_into_df(
    query_map["AudienceByHour"]["dimensions"], 
    query_map["AudienceByHour"]["metrics"],
    query_map["AudienceByHour"]["order_by"],
)
audience_by_hour_df

,dateHour,averageSessionDuration,bounceRate,newUsers,sessionsPerUser,screenPageViewsPerUser,screenPageViewsPerSession,screenPageViews,sessions,activeUsers
0,2023030819,623.6719155,1,0,1,1,1,2,2,2
1,2023030818,324.267862,1,1,1,5,5,5,1,1
2,2023030817,0,1,5,1.6666666666666667,1.6666666666666667,1,5,5,3
3,2023030814,0,1,0,1,1,1,1,1,1
4,2023030813,2773.782988,1,0,1,12,12,12,1,1
5,2023030808,0,1,0,1,2,2,2,1,1
6,2023030721,64.291115,0,1,1,2,2,2,1,1
7,2023030718,1578.958902,1,0,1,5,5,5,1,1
8,2023030717,363.112517,0,1,1,1,1,1,1,1
9,2023030716,81.674977,0,1,1,2,2,2,1,1
10,2023030714,0,1,2,1,1,1,2,2,2
11,2023030709,52.997074,0,1,1,2,2,2,1,1
12,2023030622,37.134758,0,0,1,2,2,2,1,1
13,2023030621,25.862893,0.5,1,1,1,1,2,2,2
14,2023030620,0,1,0,0,0,1,1,1,0
15,2023030619,12.5284195,0.5,2,1,1,1,2,2,2
16,2023030617,994.204171,0.33333333333333331,2,1,3,3,9,3,3
17,2023030616,8.5394345,0.5,2,1,1,1,2,2,2
18,2023030614,0,1,1,2,2,1,2,2,1
19,2023030613,0,1,0,1,0,0,0,1,1
20,2023030612,77.607972,0,1,1,2,2,2,1,1
21,2023030611,0,1,2,1,1,1,2,2,2
22,2023030601,14.928166,0.75,4,1,1,1,4,4,4
23,2023030521,0,1,1,1,1,1,2,2,2
24,2023030520,26.753847,0,1,1,2,2,2,1,1
25,2023030518,49.300278,0,1,1,2,2,2,1,1
26,2023030514,32.914867,0,1,1,2,2,2,1,1
27,2023030500,0,1,0,0,0,0,0,2,0
28,2023030423,0,1,0,1,1,1,1,1,1
29,2023030422,621.69228349999992,0.5,1,1,3,3,6,2,2
30,2023030419,25.962133,0,1,1,1,1,1,1,1
31,2023030411,36.042109,0,0,1,3,3,3,1,1
32,2023030410,11.026311,0,0,1,1,1,1,1,1
33,2023030319,28.821708,0,1,1,1,1,1,1,1
34,2023030315,0.30931116666666664,1,6,1,1,1,6,6,6
35,2023030307,4.563724,1,1,1,1,1,1,1,1
36,2023030300,32.1177985,0,2,1,2,2,4,2,2
37,2023030221,1203.107274,1,0,1,1,1,1,1,1
38,2023030220,0,0,0,1,1,1,1,1,1
39,2023030219,0,1,0,1,1,1,1,1,1
40,2023030211,0,1,1,1,1,1,1,1,1
41,2023030210,31.30273,0,2,1,1.5,1.5,3,2,2

## AudienceByCategory

In [116]:
query_map["AudienceByCategory"] = {
    "metrics": [
        "newUsers",
        "activeUsers", # not sure if this is what we want for the api
    ],
    "dimensions": [
        "date",
        "country",
        "deviceCategory",
        "language",
#         "pagePath", ## this makes the request incompatible
    ],
    "order_by": "date",
}

In [117]:
audience_by_category_df = pull_from_ga_into_df(
    query_map["AudienceByCategory"]["dimensions"], 
    query_map["AudienceByCategory"]["metrics"],
    query_map["AudienceByCategory"]["order_by"],
)
audience_by_category_df

          country      date deviceCategory language newUsers activeUsers
0     Philippines  20230308         mobile  English        2           2
1     Philippines  20230308        desktop  English        1           2
2          Sweden  20230308         mobile  English        1           0
3   United States  20230308        desktop  English        1           2
4   United States  20230308         mobile  English        1           0
5          Sweden  20230308        desktop  English        0           2
6     Philippines  20230307         mobile  English        3           3
7        Pakistan  20230307        desktop  English        2           2
8     Philippines  20230307        desktop  English        1           1
9     Philippines  20230306        desktop  English        5           5
10    Philippines  20230306         mobile  English        3           4
11      Singapore  20230306        desktop  English        3           3
12          China  20230306         mobile  Chinese        2           2
13          China  20230306         mobile  English        1           1
14       Pakistan  20230306        desktop  English        1           1
15          China  20230306        desktop  English        0           1
16    Philippines  20230305         mobile  English        3           3
17    Philippines  20230305         tablet  English        1           1
18    Philippines  20230304         mobile  English        1           1
19  United States  20230304        desktop  English        1           1
20    Philippines  20230304        desktop  English        0           1
21  United States  20230303        desktop  English        4           5
22       Pakistan  20230303        desktop  English        2           2
23     Seychelles  20230303        desktop  English        1           1
24      Singapore  20230303        desktop  Chinese        1           1
25      Singapore  20230303        desktop  English        1           1
26  United States  20230303         mobile  English        1           1
27    Philippines  20230302        desktop  English        1           2
28    Philippines  20230302         mobile  English        1           1
29  United States  20230302        desktop  English        1           1